li{
   list-style: none;
}

/* 浏览器是有兼容性的，下面的代码直接用，在某些浏览器是不起作用的 */
/* 所以需要加一个能够让代码与浏览器兼容前缀，为了避免麻烦，需要配置一个能自动添加兼容前缀的postCSS */
::placeholder{
    color:red;

}
#box{
    width: 520px ;
    height: 520px;
    background-color: pink;
    background: url('../images/1.jpg');
}